.main-info {
    margin: 30px auto 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.game-description {
    text-align: center;
    max-width: 500px;
}

.learn-how-to-play {
    margin-top: 20px;
}

.error-message {
    color: red;
    font-weight: bold;
}
