.hand-card {
    min-width: 100px;
    border: solid;
    border-radius: 5pt;
    padding: 20pt;
    margin: 10pt;
    font-size: x-large;
    font-family: cursive;
}

.hand-card-red {
    background: red;
    color: white;
}


.deck {
    min-width: 100px;
    border: solid;
    border-radius: 5pt;
    padding: 10pt;
    margin: 20pt;
}

.arrow-indicator {
}

.card-in-deck-red {
    background: red;
    color: white;
}

.card-in-deck {
    padding-top: 20pt;
    font-size: x-large;
    font-family: cursive;
}

.selected-card {
    border-color: blue;
    border-radius: 5pt;
    border: dashed;
}

.button-begin {
    margin-top: 10px;
}
